@import '~react-md/src/scss/react-md';

// Any variable overrides. The following just changes the default theme to use teal and purple.
$md-primary-color: $md-teal-500;
$md-secondary-color: $md-purple-a-400;
$md-light-theme: true; // setting to false in v2 since the default background is dark
//$md-text-field-active-font-size: 12px !default; //ta zmienna opisuje wielkosc labela kiedy pole tekstowe jest aktywne
//$md-text-field-message-font-size: 14px; ta zmienna opisuje wielkosc czcionki opisu pola tekstowego //react-md-text-field-message

//$md-media-included: false; //wylaczone media query dla wszystkich komponentow
$md-text-field-custom-sizes: (
   title: (
      16px,
      0.15s,
      36px,
      36px
   )
);
$md-slider-height: 30px;
//$md-select-field-drop-transition-time: 0.25s;
$md-light-theme-secondary-text-color: rgba($md-black-base, 0.5);
$md-light-theme-disabled-text-color: rgba($md-black-base, 0.5);
$md-light-theme-divider-color: rgba($md-black-base, 0.5);
//$md-select-field-drop-distance: 150px;
/* $md-light-theme-colors: (
   text: black,
   secondary: red,
   icon: black,
   disabled: red,
   hint: black,
   divider: red,
   background: black,
   card: black,
   hover: black,
   toolbar: black
); */
/* $md-light-theme-colors: (
   text: $md-light-theme-text-color,
   secondary: $md-light-theme-secondary-text-color,
   icon: $md-light-theme-icon-text-color,
   disabled: $md-light-theme-disabled-text-color,
   hint: $md-light-theme-hint-text-color,
   divider: $md-light-theme-divider-color,
   background: $md-light-theme-background-color,
   card: $md-light-theme-card-color,
   hover: $md-light-theme-divider-color,
   toolbar: $md-light-theme-app-bar-color
); */
