@import 'globals';

@include react-md-everything;

//@include react-md-text-field;
/*@include react-md-typog
@include react-md-text-fields;
@include react-md-text-field-message;
@include react-md-text-field-desktop;
@include react-md-text-field-floating-label-desktop;
@include react-md-text-field-custom-size-desktop('title', (40px, 0.25s, 46px, 34px));
@include react-md-style-placeholders(true) {
   color: red;
}
@include react-md-theme-text-fields(red); */

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

body {
   /*    font-family: 'Roboto', sans-serif; */
   width: 100%;
   margin: 0;
   padding: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   ::selection {
      color: white;
      background: $md-primary-color;
   }
}

p,
h2 {
   margin: 0;
}

.input-range {
   font-family: 'Roboto', sans-serif;
   font-size: 48px;
}

.my-text-field {
   width: 100%;
   input {
      &:hover {
         + hr {
            background: black;
         }
      }
   }
   .md-text--secondary {
      color: rgba($md-black-base, 0.54);
   }

   .md-text-field-message {
      color: rgba($md-black-base, 0.54);
   }

   .md-divider--text-field {
      color: rgba($md-black-base, 0.54);
   }
}

.my-text-area {
   width: 100%;
   div {
      &:hover {
         + hr {
            background: black;
         }
      }
   }
   .md-text--secondary {
      color: rgba($md-black-base, 0.54);
   }

   .md-text-field-message {
      color: rgba($md-black-base, 0.54);
   }

   .md-divider--text-field {
      color: rgba($md-black-base, 0.54);
   }
}

.select-elem {
   div {
      .md-floating-label--inactive-sized {
         @media #{$md-mobile-media} {
            font-size: 14px;
         }
         @media #{$md-desktop-media} {
            font-size: 16px;
         }
      }
   }
   span.md-icon-text {
      font-size: 15px;
      line-height: 10px;
   }
}

.addRemoveButton:disabled {
   background-color: rgba(0, 0, 0, 0.12);
}

.text-field-testy {
   label {
      @media #{$md-mobile-media} {
         left: 12px;
         font-size: 13px;
      }
      @media #{$md-desktop-media} {
         left: 14px;
         font-size: 14px;
      }
   }
}

.text-field-testy--wynik {
   label {
      @media #{$md-mobile-media} {
         left: 8px;
         font-size: 13px;
      }
      @media #{$md-desktop-media} {
         left: 10px;
         font-size: 14px;
      }
   }
}

.text-field--header {
   .md-icon {
      line-height: 1.3;
   }
   width: 200px;
   @media #{$md-desktop-media} {
      padding: 5px;
      .md-floating-label {
         top: 6px;
      }
      .md-icon {
         line-height: 1.6;
      }
   }
}

.button--header {
   margin: 16px 0px 0 25px;
}
